%h1.centered What do we want instead?
%p We want...
%ul
  %li a clean window namespace.
  %li a global object through which we access the application's API.
  %li 
    in a nutshell, similar to what you get with OOP. Complicate stuff is hidden away in 
    private methods, public methods are exposed.
  %li 
    a good measure is: how usable from the (Webkit/Firebug) console it is? If you can 
    almost entirely pilot your app from the console, you're on the right track.